.event-detail-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.event_back_container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.event_back_button {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 0px !important;
}

.event-detail-page__content {
  width: 100%;
}

.event-detail-columns {
  display: flex;
  width: 100%;
  gap: 16px; /* Espacio entre los componentes */
}

.event-sessions,
.shopping-cart {
  flex: 1 1 50%;
}
